{% extends 'base.html' %}

{% block content %}
    <form method="POST" action="/login">
      <div class="form-group">
        <label for="inputEmail1">Login</label>
        <input required pattern=".+@kontur" type="email" name="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp" placeholder="username@kontur">
        <small id="emailHelp" class="form-text text-muted"></small>
      </div>
      <div class="form-group">
        <label for="inputPassword1">Password</label>
        <input required type="password" name="password" class="form-control" id="inputPassword1" placeholder="Password">
      </div>
{#      <div class="form-group form-check">#}
{#        <input type="checkbox" class="form-check-input" id="exampleCheck1">#}
{#        <label class="form-check-label" for="exampleCheck1">Check me out</label>#}
{#      </div>#}
      <button type="submit" class="btn btn-primary">Войти</button>
      <div><output id="loginResult">{{ auth_result }}</output></div>
    </form>
{% endblock %}